.glace{
    background-image: url("/Animation/Image/seq-b.png");
    width: 203px;
    height: 290px;
    overflow: hidden;
}
.animated {
    z-index:2;
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100%;
    align-items: center;
}